.title {
    font-size: 24px;
    font-weight: 700;
}

.forecast-bar {
    width: 600px;
    margin: 20px auto;
    cursor: pointer;
}

.daily-item {
    font-size: 16px;
    background-color: rgb(255, 243, 221);
    border-radius: 15px;
    height: 40px;
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-small {
    width: 40px;
}

.day {
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}

.forecast-desc {
    flex: 1 1;
    text-align: left;
    cursor: pointer;
}

.min-max {
    color: rgb(107, 106, 106);
    cursor: pointer;
}

.daily-details-grid {
    display: grid;
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.daily-grid-item {
    display: flex;
    height: 35px;
    justify-content: space-evenly;
}

.arrow {
    padding-left: 15px;
}